@import "../../assets//partials/variables";

.warehouseDetails {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.6rem 4rem;
    border-bottom: 1px solid $cloud;
  }
  &__name {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    &--heading {
      font-size: 3.2rem;
      line-height: 4rem;
    }
  }
  &__button {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    font-size: 1.4rem;
    background-color: $instock-indigo;
    padding: 0 1.6rem;
    border-radius: 2rem;
    height: 3.8rem;
    color: $white;
  }
  &__info {
    display: flex;
    padding: 2.4rem 4rem;
    &--address {
      flex: 0 1 50%;
    }
  }
  &__contact {
    border-left: 1px solid $slate;
    display: flex;
    gap: 2.8rem;
    padding-left: 4rem;
  }
  &__inventory {
    display: flex;
    flex-direction: column;

    &--tags {
      background-color: $light-grey;
      display: flex;
      justify-content: space-between;
      padding: 1.1rem 4rem;
      color: $slate;
      font-size: 1.2rem;
      width: 100%;
    }
    &--items {
      display: flex;
      flex-direction: column;
    }
    &--item {
      display: flex;
      justify-content: space-between;
      padding: 1.1rem 4rem;
      align-items: center;
      font-size: 1.2rem;
      border-bottom: 1px solid $cloud;
      width: 100%;
    }
  }
}
.label {
  color: $slate;
}
.address,
.phoneNumber,
.email,
.contactName,
.contactPosition {
  font-size: 1.6rem;
}
.address {
  width: 50%;
  line-height: 1.4;
}
.icon {
  width: 0.6rem;
  height: 1.2rem;
}
.tag {
  display: flex;
  align-items: center;
  gap: 0.1rem;
  height: 2.6rem;
  padding: 0 0.8rem;
}
.itemName,
.itemActions {
  display: flex;
  align-items: center;
}
.itemActions {
  gap: 0.6rem;
}
.itemName {
  color: $instock-indigo;
  transition: all 0.3s;
  &:hover {
    text-decoration: underline;
  }
}
.itemStatus {
  color: $white;
  border-radius: 2rem;
  padding: 0.4rem 0.8rem;
}
.instock {
  background-color: rgba($color: $green, $alpha: 7%);
  color: $green;
}
.outofstock {
  background-color: rgba($color: $red, $alpha: 7%);
  color: $red;
}
table {
  width: 100%;
}

td,
th {
  display: flex;
  justify-content: center;
  flex: 0 1 20%;
  text-align: center;
}
