
.warehouseDetails{
    &__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 3.2rem 4rem;
        border-bottom: 1px solid gray;
    }
    &__name{
        display: flex;
        align-items: center;
        gap: 1.2rem;
    }
    &__button{
        display: flex;
        align-items: center;
        gap: .2rem;
        font-size: 1.4rem;
        background-color: blue;
        padding: .8rem 1.6rem;
        border-radius: 2rem;
        color: white;
    }
    &__info{
        display: flex;
        padding: 2.4rem 4rem;
        &--address{
            flex: 0 1 50%;
        }
    }
    &__contact{
        border-left: 1px solid gray;
        display: flex;
        gap: 2.8rem;
        padding-left: 4rem;
    }
    &__inventory{
        display: flex;
        flex-direction: column;
        &--tags{
            background-color: grey;
            display: flex;
            justify-content: space-between;
            padding: 1.1rem 4rem;
            color: white;
            font-size: 1.2rem;
            
        }
        &--items{
            display: flex;
            flex-direction: column;
        }
        &--item{
            display: flex;
            justify-content: space-between;
            padding: 1.1rem 4rem;
            align-items: center;
            font-size: 1.2rem;
            
        }
    }
}
.label{
    color: grey;
    font-size: 1.2rem;
}
.address,.phoneNumber,.email,.contactName,.contactPosition{
    font-size: 1.6rem;
}
.address{
    width: 50%;
    line-height: 1.4;
}
.icon{
    width: .6rem;
    height: 1.2rem;
}
.tag{
    display: flex;
    align-items: center;
    gap: .1rem;
}
.itemName,.itemActions{
    display: flex;
    align-items: center;
   
    
}
.itemStatus{
    color: white;
    border-radius: 2rem;
    padding: .4rem .8rem;
}
.instock{
    background-color: lightgreen;
    color: green;
}
.outofstock{
    background-color: lightcoral;
    color: red;
}