.warehouseDetails{
    border: 1px solid black;
    max-width: 80%;
    border-radius: 3px;
    margin: 0 auto;
    &__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 3.2rem 4rem;
        border-bottom: 1px solid gray;
    }
    &__name{
        display: flex;
        align-items: center;
        gap: 1.2rem;
    }
    &__button{
        display: flex;
        align-items: center;
        gap: .2rem;
        font-size: 1.4rem;
        background-color: blue;
        padding: .8rem 1.6rem;
        border-radius: 2rem;
        color: white;
        &--icon{
            // background-color: white;
        }
    }
}