@import "../../assets/partials/variables";

* {
  font-family: $titillium;
}

.invList {
  margin: 16px;
}

.invList_container,
.invList_items {
  border-bottom: 1px solid $slate;
  padding-bottom: 16px;
}

.invList_search-icon {
  width: 17.5px;
  height: 17.5px;
}

.invList_items-icons {
  width: 18px;
  height: 18px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
