@import "../../assets/partials/variables";
.addNewItem {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $cloud;
    padding: .5rem 1rem;
    @include desktop {
      padding: 1rem 1.5rem;
    }
  }
  &__name {
    display: flex;
    align-items: center;
    gap: .75rem;
    &--heading {
      font-size: .688rem;
      @include desktop {
        font-size: 2rem;
        line-height: 2.5rem;
      }
    }
  }
  &__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    @include tablet {
      flex-direction: row;
    }
    @include desktop {
      flex-direction: row;
      padding: 1rem;
    }
  }
  &__details,
  &__availability {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
    @include tablet {
      flex: 0 1 50%;
    }
    @include desktop {
      flex: 0 1 50%;
    }
  }
  &__details {
    @include tablet {
      border-right: 1px solid $cloud;
    }
    @include desktop {
      border-right: 1px solid $cloud;
    }

    &--heading {
      font-size: 1.25rem;
      align-self: flex-start;
      margin-left: 1.5rem;
      padding-top: 1rem;
      @include tablet {
        font-size: 1.25rem;
      }
      @include desktop {
        margin-left: 3rem;
      }
    }
    &--name {
      display: flex;
      flex-direction: column;
      gap: 0.313rem;
      width: 80%;
      input {
        border-radius: 1.25rem;
        border: none;
        border: 1px solid $instock-black;
        font-size: 1rem;

        @include tablet {
          font-size: 1rem;
        }
        @include desktop {
          font-size: 1rem;
          width: 90%;
        }
      }
      textarea {
        border-radius: 1.25rem;
        width: 100%;
        height: 7.5rem;
        font-family: inherit;
        font-size: 1rem;
        @include desktop {
          width: 90%;
          height: 7.5rem;
        }
      }
    }
  }
  &__availability {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top: 1px solid $cloud;
    margin-top: 1rem;
    @include tablet {
      border-top: none;
    }
    &--heading {
      margin-top: 1rem;
      font-size: 1.25rem;
      @include desktop {
        align-self: flex-start;
        margin-left: 3rem;
      }
    }
    &--status {
      display: flex;
      flex-direction: column;
      width: 100%;

      @include desktop {
        align-self: flex-start;
        margin-left: 3rem;
      }
      .label {
        margin-left: 1.5rem;
        margin-bottom: 1rem;
      }
      .radio__container {
        display: flex;
        margin-left: 1.5rem;
        font-size: .625rem;
        @include desktop {
          font-size: .875rem;
          align-items: center;
        }
        input {
          margin-right: .313rem;
        @include desktop {
            margin-right: 1rem;
          }
        }
        label {
          margin-right: 1rem;
          @include desktop {
            margin-right: 2rem;
          }
        }
      }
    }
    &--quantity {
      display: flex;
      flex-direction: column;
      align-self: flex-start;
      margin-left: 1.5rem;
      width: 70%;
      @include desktop {
        margin-left: 3rem;
      }
      gap: 1rem;
      input {
        font-size: .875rem;
        border-radius: 1.25rem;
        border: 1px solid $instock-black;
        padding: 0.25rem .313rem;
    }
    }
    &--warehouse {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      align-self: flex-start;
      margin-left: 1.5rem;
      width: 80%;
      @include desktop {
        margin-left: 3rem;
      }
    }
  }
  &__footer {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    padding: 1rem;
    margin-top: 1rem;
    background-color: $light-grey;
    &--cancel,
    &--add {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.25rem .313rem;
    font-size: .75rem;
      border-radius: 1.25rem;
      transition: all 0.3s;
      @include desktop {
        padding: 1rem;
        height: 2.37rem;
        font-size: .875rem;
      }
      &:hover {
        background-color: $instock-black;
      }
    }
    &--cancel {
      background-color: $red;
      color: $white;
    }
    &--add {
      background-color: $instock-indigo;
      color: $white;
    }
  }
}
.label {
  font-size: .875rem;
}
select {
  border-radius: 1.25rem;
  padding: .313rem;
color: $slate;
  width: 100%;
  @include desktop {
    width: 90%;
    font-size: .75rem;
  }
}
