@import '../../assets/partials/variables';
.addNewItem{
    &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.6rem 2.4rem;
    border-bottom: 1px solid $cloud;
  }
  &__name {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    &--heading{
        font-size: 3.2rem;
        line-height: 4rem;
    }
  }
  &__container{
    display: flex;
  }
}