.wrh-lst-cont{
    position: absolute;
    left: 10.16%;
    right: 10.16%;
    top: 9.95%;
    padding-bottom: 1.6rem;
    background: #ffffff;
    /* Card Shadow */
    box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
    border-radius: 3px;
    
}

.wrh-lst-header-h1{
    width: fit-content;
    height: fit-content;
}

.search-inp{
    width: 250px;
    height: 35px;
    border: none;
    padding-left: 20px;
   
    background: none;
}

.search-container img{
    width: 30px;

}
.search-container{
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    border-radius: 30px;
    border: 1px solid #c7c7c7;
    padding: 0px 10px;
    margin-right: 10px;
}

.wrh-lst-header{
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    flex-wrap: wrap;
}

.list-header-add-icon{
    width: 15px;
    filter: invert(100%);
    padding-right: 5px;
}

.wrh-lst-header-search{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrh-lst-btn{
    padding: 10px 30px;
    background-color: #2e66e5;
    color: white;
    border: none;
    border-radius: 30px;
}

.arrow-up-down{
    width: 20px;
}

.wrh-lst-titles-cont{
    display: flex;
    justify-content: space-between;
    background-color: #c7c7c7;
    padding: 10px;
}

.titleNames{
    display: flex;
    align-items: center;
    width: 200px;
}

.titleNames span{
    font-size: 13px;
}

.title-action{
    justify-content: center;
}

.wrh-lst-items-cont{
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
    border-bottom: 1px solid #2e66e5;
}

body{
    background-color: #f7f8f9;
}

.deleteIcon, .editIcon{
    width: 20px;
}
.editIcon{
    filter: invert(100%);
    margin-left: 10px;
}

.link{
    color: #2e66e5;
    font-weight: bold;
    display: flex;
    cursor: pointer;
}

.links:hover{
    text-decoration: underline;
}

.rightIcon{
    width: 20px;
}

@media screen and (max-width: 1200px) {
    .wrh-lst-header
    {
        justify-content: center;
    }
}

