@import '../../assets//partials/variables';

.mobile {
  @include tablet {
    display: none;
  }
}

.tablet {
  display: none;
  @include tablet {
    display: inline-block;
  }
}

.box {
  @include tablet {
    display: flex;
  }
}

.warehouses-list {
  position: relative;
  bottom: 4rem;
  margin: 1rem;
  border-radius: 3px;
  box-shadow: 0px 2px 5px rgba(19, 24, 44);
  background-color: $white;
  &__header {
    padding: 2rem 1.5rem 1.5rem;
    display: flex;
    flex-direction: column;
    @include tablet {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }
  &__title {
    font-weight: 600;
    font-size: 1.75rem;
    line-height: 2rem;
    color: $instock-black;
    @include tablet {
      font-size: 2rem;
      line-height: 2.5rem;
    }
  }
  &__action-wrapper {
    display: flex;
    flex-direction: column;
    @include tablet {
      flex-direction: row;
      align-items: center;
      gap: 1rem;
    }
  }
  &__search-container {
    height: 2.25rem;
    margin: 1rem 0;
    border: 1px solid $cloud;
    border-radius: 1.25rem;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    flex-grow: 1;
    @include tablet {
      margin: 0;
      height: 2.375rem;
      flex-grow: 0;
    }
  }
  &__search-input {
    flex-grow: 1;
    border: none;
    font-size: 0.813rem;
    line-height: 1.25rem;
  }
  &__search-icon {
    width: 1.093rem;
    height: 1.093rem;
  }
  &__btn {
    height: 2.25rem;
    border: none;
    border-radius: 1.25rem;
    padding: 0.5rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $instock-indigo;
    flex-grow: 1;
    @include tablet {
      width: 11.563rem;
      height: 2.375rem;
      flex-grow: 0;
    }
  }
  &__btn-txt {
    font-size: 0.813rem;
    line-height: 1.25rem;
    color: $white;
  }
  &__table-container {
    border-top: 1px solid $cloud;
    @include tablet {
      border-top: none;
    }
  }
  &__table-header {
    display: none;
    @include tablet {
      padding: 0.688rem 2rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: rgba(247, 248, 249, 0.7);
    }
  }
  &__table-align-left {
    width: 44%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__table-align-right {
    width: 56%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__table-header-wrapper {
    @include tablet {
      width: 10rem;
      display: flex;
      justify-content: flex-start;
      flex-wrap: nowrap;
    }
  }
  &__table-title {
    @include tablet {
      font-weight: 600;
      font-size: 0.75rem;
      line-height: 1.125rem;
      color: $slate;
      white-space: nowrap;
      flex-grow: 0;
    }
  }
  &__arrow-up-down {
    @include tablet {
      margin-left: 0.5rem;
      flex-grow: 0;
      height: 1rem;
      width: 1rem;
    }
  }
  &__table-body {
    display: flex;
    flex-direction: column;
  }
  &__warehouse-container {
    border-bottom: 1px solid $cloud;
    display: flex;
    @include tablet {
      padding: 1rem 2rem;
      align-items: center;
    }
  }
  &__table-wrapper {
    width: 50%;
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: column;
    @include tablet {
      padding: 0;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
    &--left {
      @include tablet {
        width: 44%;
      }
    }
    &--right {
      @include tablet {
        width: 56%;
      }
    }
  }
  &__item-container {
    padding-bottom: 1rem;
    @include tablet {
      padding: 0;
    }
  }
  &__item-label {
    margin-bottom: 0.25rem;
    font-weight: 600;
    font-size: 0.688rem;
    line-height: 1rem;
    color: $slate;
    @include tablet {
      display: none;
    }
  }
  &__link-wrapper {
    @include tablet {
      width: 10rem;
      display: flex;
      align-items: center;
    }
  }
  &__item-link {
    font-weight: 600;
    font-size: 0.813rem;
    line-height: 1.25rem;
    color: $instock-indigo;
    @include tablet {
      font-size: 0.875rem;
      line-height: 1.375;
    }
  }
  &__right-icon {
    margin-left: 0.3rem;
    width: 1.5rem;
  }
  &__item-txt {
    font-weight: 400;
    font-size: 0.813rem;
    line-height: 1.25rem;
    color: $instock-black;
    @include tablet {
      width: 10rem;
      font-size: 0.875rem;
      line-height: 1.375;
    }
    &--blank {
      color: $white;
    }
  }
  &__delete-icon {
    width: 1.5rem;
    height: fit-content;
    justify-self: end;
  }
  &__edit-icon {
    width: 1.125rem;
    align-self: flex-end;
    @include tablet {
      align-self: center;
    }
  }
  &__table-action-wrapper {
    @include tablet {
      width: 10rem;
      display: flex;
    }
  }
}
