@import "../src/assets/partials/variables";
.container {
  border: 1px solid $light-grey;
  width: 90%;
  border-radius: 3px;
  margin: 0 auto;

  z-index: 3;
  background-color: $white;
  margin-top: -4.5rem;
  @include tablet {
    margin-top: -7.3rem;
  }
}
