html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Titillium Web", sans-serif;
}

img {
  width: 100%;
  height: 100%;
}
a {
  text-decoration: none;
  color: inherit;
  margin: 0;
  padding: 0;
}
h1 {
  font-family: "Titillium Web";
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.5rem;
}
h2 {
  font-family: "Titillium Web";
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2rem;
}
h3 {
  font-family: "Titillium Web";
  font-style: normal;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.375rem;
}
h4 {
  font-family: "Titillium Web";
  font-style: normal;
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 1.125rem;
}
button {
  background-color: transparent;
  border: none;
  outline: none;
}
